/* ///////////////////picture-box///////////////////// */
/* html {
    font-family: Segoe UI, sans-serif;
  }
  
  body {
    min-width: 240px;
  } */
#NextButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.getacImg{
  width: 100%; 
  height: auto; 
  max-width: 100%;
}

.Picture,.introduce {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  transition: transform 0.68s ease-in-out, opacity 0.68s ease-in-out;
}

.Pictures-box,.introduce-box {
  font-size: 0;
  padding: 0.6666%;
  display: flex;
  
}
#Picture-content-1,#Picture-content-2,#Picture-content-3,#Picture-content-4,#Picture-content-5,#introduce-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

}
.Picture-wrap,.introduce-wrap {
  display: inline-block;
  position: relative;
  width: 32%;
  margin: 0.5666%;
  box-sizing: border-box;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ad6749, #ddf200);
  color: white;
}

@media (min-width: 1440px) {
  .Picture-wrap {
    width: 24%;
    margin: 0.5%;
  }
}

@media (min-width: 1023px) and (max-width: 1439px) {
  .Picture-wrap {
    width: 32%;
    margin: 0.5666%;
  }
}

@media (min-width: 519px) and (max-width: 1023px) {
  .Picture-wrap {
    width: 49%;
    margin: 0.5%;
  }
}

@media (max-width: 519px) {
  .Picture-wrap {
    width: 99%;
    margin: 0.5%;
  }
}

.Picture-wrap:before {
  display: block;
  padding-bottom: 100%;
  content: "";
}

.Picture-wrap:hover .Picture {
  transform: scale(1.15) rotate3d(4, 4, 1, -6deg);
  opacity: 0.76;
}

.Picture-wrap:hover .Picture-border rect {
  stroke-dashoffset: 0;
  fill: rgba(0, 0, 0, 0.3);
}

.Picture-wrap:hover .Picture-title:after {
  width: 50%;
}

.Picture-wrap:hover .Picture-paragraph {
  transform: translateY(0);
}

.Picture-description,.introduce-description {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.Picture-description:before,.introduce-description::before {
  display: inline-block;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.Picture-description-wrap,.introduce-description-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
  padding: 7.5%;
  overflow: hidden;
  font-size: 1.2rem;
}

.Picture-title {
  position: relative;
  font-weight: 200;
  font-size: 35px;
  padding: 15px 0;
  text-transform: uppercase;

}

.Picture-title:after {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background: #00f2dd;
  width: 0;
  padding-top: 1%;
  transition: width 0.68s ease-in-out;
  content: "";
}

.Picture-paragraph {
  margin: 4% 0;
  transform: translateY(500%);
  transition: transform 0.68s ease-in-out;
  text-transform: uppercase;

}

.Picture-border {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.Picture-border rect {
  fill: transparent;
  stroke: white;
  width: 100%;
  height: 100%;
  stroke-dasharray: 400%;
  stroke-width: 1%;
  stroke-dashoffset: 400%;
  transition: fill 0.68s ease-in-out, stroke-dashoffset 0.68s ease-in-out;
}

.Picture-social {
  width: 32px;
  height: 32px;
}

.Picture-socials-wrap {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 32px;
  text-align: right;
  margin: auto;
}

.Picture-wrap.auto-hover .Picture, .Picture-wrap:hover .Picture {
  transform: scale(1.15) rotate3d(4, 4, 1, -6deg);
  opacity: 0.76;
}

.Picture-wrap.auto-hover .Picture-border rect, .Picture-wrap:hover .Picture-border rect {
  stroke-dashoffset: 0;
  fill: rgba(0, 0, 0, 0.3);
}

.Picture-wrap.auto-hover .Picture-title:after, .Picture-wrap:hover .Picture-title:after {
  width: 50%;
}

.Picture-wrap.auto-hover .Picture-paragraph, .Picture-wrap:hover .Picture-paragraph {
  transform: translateY(0);
}
.Pictures-box {
  display: flex;
  align-items: center;
}
.clickable-image{
  height: 100vh;
object-fit: contain;
}
.gif-grid{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.gif-grid img {
  width: 150px;
  margin: 5px;
  height: auto;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}
.gif-grid img:nth-child(1) { animation-delay: 0s; }
.gif-grid img:nth-child(5) { animation-delay: 0.2s; }
.gif-grid img:nth-child(2) { animation-delay: 0.4s; }
.gif-grid img:nth-child(6) { animation-delay: 0.6s; }
.gif-grid img:nth-child(3) { animation-delay: 0.8s; }
.gif-grid img:nth-child(7) { animation-delay: 1s; }


#images-grid-1,#images-grid-2  {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  max-width: calc(100% - 20px);
}

#images-grid-1 img,#images-grid-2 img {
  width: calc(25% - 10px);
  margin: 5px;
  height: auto;
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#images-grid-1 img:nth-child(1) { animation-delay: 0s; }
#images-grid-1 img:nth-child(5) { animation-delay: 0.2s; }
#images-grid-1 img:nth-child(2) { animation-delay: 0.4s; }
#images-grid-1 img:nth-child(6) { animation-delay: 0.6s; }
#images-grid-1 img:nth-child(3) { animation-delay: 0.8s; }
#images-grid-1 img:nth-child(7) { animation-delay: 1s; }
#images-grid-1 img:nth-child(4) { animation-delay: 1.2s; }
#images-grid-1 img:nth-child(8) { animation-delay: 1.4s; }
#images-grid-2 img:nth-child(1) { animation-delay: 0s; }
#images-grid-2 img:nth-child(5) { animation-delay: 0.2s; }
#images-grid-2 img:nth-child(2) { animation-delay: 0.4s; }
#images-grid-2 img:nth-child(6) { animation-delay: 0.6s; }
#images-grid-2 img:nth-child(3) { animation-delay: 0.8s; }
#images-grid-2 img:nth-child(7) { animation-delay: 1s; }
#images-grid-2 img:nth-child(4) { animation-delay: 1.2s; }
#images-grid-2 img:nth-child(8) { animation-delay: 1.4s; }
.left-content {
  min-width: 25%;
  flex: 1;
}

.left-content .Picture-wrap{
  min-width: 100%;
}

.clickable-image,.Picture-description {
  cursor: pointer;
}
